<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-facerecognition" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>FaceRecognition</name>
    <js-module name="FaceRecognition" src="www/FaceRecognition.js">
        <clobbers target="facerecognition" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="FaceRecognition">
                <param name="android-package" value="cordova.plugin.facerecognition.FaceRecognition" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:launchMode="singleTop" android:name="cordova.plugin.facerecognition.FaceRecognitionProcess" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:launchMode="singleTop" android:name="cordova.plugin.facerecognition.FaceRecognitionCompare" />
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/FaceRecognition.java" target-dir="src/cordova/plugin/facerecognition" />
        <source-file src="src/android/FaceRecognitionProcess.java" target-dir="src/cordova/plugin/facerecognition" />
        <source-file src="src/android/FaceRecognitionCompare.java" target-dir="src/cordova/plugin/facerecognition" />
        <resource-file src="ttvface.aar" target="../../libs/ttvface.aar" />
         <!-- Instalasi Gradle -->
        <framework
            custom="true"
            src="src/android/build-extras.gradle"
            type="gradleReference" />
        <hook src="scripts/process_copy_android_sdk.js" type="before_plugin_install" />
        <hook type="after_prepare" src="scripts/apply-to-gradle.properties.js" />
    </platform>
</plugin>